body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #F2ECE1;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

a {
    color: #F4A460;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #E6852E;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F4A460;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn:hover {
    background-color: #E6852E;
}

form input[type="text"], form input[type="email"], form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #FDFDFD;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

form input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F4A460;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #E6852E;
}
select, option {
    font-size: 1.5rem;
  }